/**
 * HW 1 
 **/

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    text-align: center;
    background-color: #777;
    width: 75%;
    margin: 0 auto;
}

div.bigwrap {
    
}

header {
    background-color: #ebebeb;
    padding: 20px;
    color: #777;
    margin: 0 auto;
    margin-bottom: 10px;
}

nav {
    background-color: #ebebeb;
    padding: 20px;
    color: #777;
    margin: 0 auto;
    margin-bottom: 10px;
}

.wrap {
    background-color: #777;
    margin: 0;
    
}

section {
    clear: both;
    padding: 20px;
    padding-bottom: 30px;
    float: left;
    background-color: #ebebeb;
    width: 59%;
    margin: 0 auto;
    margin-right: 10px;
    color: #777;
    overflow: auto;
}

article {
    background-color: #777;
    padding: 20px;
    color: #ebebeb;
}

h1 {
    background-color: #ebebeb;
    padding: 10px;
    margin: 10px;
    color: #777;
}

.pclass {
    background-color: #ebebeb;
    padding: 10px;
    margin: 10px;
    color: #777;
}

aside {
    position: relative;
    top:0;
    float: right;
    padding: 20px;
    padding-bottom: 219px;
    background-color: #ebebeb;
    width: 39%;
    color: #777;
}

footer {
    position: fixed;
    bottom: 30px;
    background-color: #ebebeb;
    padding: 20px;
    color: #777;
    margin: 0 auto;
    width: 75%;
}
